<!DOCTYPE html>
<html lang="en">
<head>
    <title>LiveWhiteBoardCoding</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/themes/monokai.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/codemirror.css" rel="stylesheet">
    <script src="../static/js/codemirror.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
  <body>
      {% include template %}
  </body>
</html>
