<div class="columns">
  <div class="column">
    <div class="editor">
    </div>
  </div>
  <div class="column">
    <img src="{{imgsrc}}" id="fixed-img">
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <div class="control">
        <textarea class="textarea is-success" type="text" readonly>{{result}}</textarea>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <div class="control">
        <textarea class="textarea is-danger" type="text" readonly>{{error}}</textarea>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let $container = document.querySelector(".editor");
  let cm = CodeMirror($container, {
    value: {{fixed|tojson}},
    lineNumbers: true,
    theme: "monokai"
  });
</script>
