<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Whiteboard Live Coding
      </h1>
      <h2 class="subtitle">
        Making dem dreams come true since 2017
      </h2>
    </div>
  </div>
</section>

<div class="container">

  <div class="columns">
    <div class="content">
      <h1>Take a picture with your webcamera</h1>
      <label for="videoSource">Source: </label><select id="videoSource"></select>
    </div>
  </div>

  <div class="columns">
    <div class="column text-center">
      <video muted autoplay></video>
      <input class="button is-danger" id="capture-webcam" type="submit" value="1. Capture image">
    </div>
    <div class="column text-center">
      <img src="http://i316.photobucket.com/albums/mm347/baby-bits-n-bobs/Imagehere.jpg" id="img-webcam">
      <input class="button is-danger" id="upload-webcam" type="submit" value="2. Upload">
    </div>
    <canvas width="640" height="480" style="display:none;" id="canvas"></canvas>
  </div>

  <hr>

  <div class="columns">
    <div class="content">
      <h1>Or upload your picture</h1>
    </div>
  </div>

  <div class="columns">
    <div class="field">
      <div class="file is-info has-name">
        <label class="file-label">
          <form method=post enctype=multipart/form-data>
          <input class="file-input" type=file name=file id="file">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Select file
            </span>
          </span>
          <label for="file" class="file-label">
          <span class="file-name" id="filename">
            No file selected
          </span>
          </label>
          <input class="button" type=submit value=Upload>
        </form>
        </label>
      </div>
    </div>
  </div>

</div>

<script src="../static/js/upload.js" type="text/javascript"></script>
<script src="../static/js/video.js" type="text/javascript"></script>
